@charset "UTF-8";

html {
  font-size: 100%;
}
body {
    background-color: rgb(42, 209, 195);
  color: #090c0b;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
    text-align: center;
    font-size: large;
  list-style: none;
}
h1 {
    -ms-text-combine-horizontal: all;
    font-size: 600%;
    color: cornsilk;
    display: block;
    padding: 16px;
    background-color: #090c0b;

}
p {
    text-align: center;
    font-size: 20px;
}
ul {
    width: 140;
    margin-right: 1px;
    background-color: #d1bf66;
    color:#0b0808
}
h3 {
    font-size: 40px;
    background-color: #dc6969;
}

.wrapper {
  max-width:1080px;
  margin: 0 auto 130px auto;
  font-size: 0.9rem;
  padding: 0 4%;
  background-color: cornflowerblue;
  text-align: center;
}
.site-title {
  line-height: 1px;
}
.site-title a {
  display: block;
}
.sec-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 65px;
}
#header {
  max-width: 1080px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 400px;
  margin: 0 auto;
  padding: 0 4%;
}
